@*Authors & Student Number:
    Siqian Yu 200286902
    Date Modified: 08-18-2016
    Short Version History: This is an Index view for Genres.
    File Description: The view displays the Genres.*@
@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>
